* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
   background-image: url("https://img.freepik.com/free-photo/robot-hand-finger-ai-background-technology-graphics_53876-129793.jpg?w=900&t=st=1692848878~exp=1692849478~hmac=d242f38608a1275d8f1597acc327d01cd055e65f3a677fa4c7adcd8df2835d1a");
   background-size: cover;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   
   /* color: white; */
   /* background-color: rgb(158, 232, 232); */
  }
  .start-screen,
  .score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none
    ;
    outline: none;
    cursor: pointer;
  }
  #start-button,
  #restart {
    font-size: 1.7em;
    font-family:cursive;
    padding: 0.7em 1.8em;
    border-radius: 0.2em;
    background-color:blanchedalmond;
  }
  #restart {
    margin-top: 0.9em;
  }
  #display-container {
    background-color:#e1f5fe;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
  }
  .header {
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #323144;
  }
  .timer-div {
    background-color: #2582ae;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
  }
  .question {
    margin-bottom: 1.25em;
    font-weight: 600;
  }
  .option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #626088;
    border-radius: 0.3em;
  }
  .option-div:disabled {
    color: #2e05c2;
    cursor: not-allowed;
  }
  #next-button {
    font-size: 1em;
    margin-top: 1.5em;
    background-color: #bddb14;
    color: #3e3333;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
  }
  .hide {
    display: none;
  }
  .incorrect {
    background-color: #b93838;
    color: #2fd345;
    border-color: #2a0565;
  }
  .correct {
    background-color: #6f9840;
    color: #689f38;
    border-color: #88c850;
  }
  #user-score {
    font-size: 1.5em;
    color: #ffffff;
  }